# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# ACE v11
*.bar
*.class

TeaSharedLibrary/TeaSharedLibraryJava.jar
TeaSharedLibrary/TeaSharedLibraryJava.jar
