# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# ACE v11
# *.bar
*.class

TeaSharedLibrary/TeaSharedLibraryJava.jar
**/maven-reports/*
**/maven-status/*
**/maven-archiver/*
**/*-maven.jar

TeaRESTApplication_UnitTest/TeaRESTApplication_UnitTest.jar

# This shouldn't be needed!
TeaRESTApplication_UnitTest/resources


.gradle

.vscode
