# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Download ACE
        run: |
          /bin/pwd
          env | sort
          df -k
          curl -# http://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/integration/12.0.1.0-ACE-LINUX64-DEVELOPER.tar.gz | tar -xvf -
          ace-12.0.1.0/ace accept license silently
          . ace-12.0.1.0/server/bin/mqsiprofile
          mqsilist
          df -k
          
      # Runs a set of commands using the runners shell
      - name: Build ACE projects
        run: |
          . ace-12.0.1.0/server/bin/mqsiprofile
          mqsilist
          echo "Running Maven install to $PWD/ace-server . . ."
          mvn --no-transfer-progress -Dinstall.work.directory=$PWD/ace-server install
